:root { 
--gray_600:#707070; 
--white_A700_e5:#ffffffe5; 
--gray_900_26:#07143c26; 
--blue_A700:#2c5ff6; 
--amber_A400:#ffc700; 
--blue_50:#deeffd; 
--orange_50:#ffebd8; 
--black_900:#000000; 
--cyan_50_01:#d9fcf5; 
--indigo_A700_35:#144bee35; 
--purple_50_01:#fadffc; 
--cyan_50:#defdf6; 
--blue_gray_900:#1f2041; 
--amber_A400_4c:#ffc7004c; 
--deep_orange_400:#fd883d; 
--white_A700:#ffffff; 
--purple_50:#fcd9ff; 
}